body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff; /* Alice Blue */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333333; /* Dark Gray */
}

div {
  text-align: center;
  background-color: #ffffff; /* White */
  padding: 20px;
  border-radius: 10px;
/*   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

h1 {
  color: #e28391; /* Light Pink */
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 2em;
  font-weight: bold;
  color: #ffffff; /* White */
  background: linear-gradient(135deg, #e28391, #add8e6); /* Gradient from Light Pink to Light Blue */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, transform 0.3s;
}

button:hover {
  background: linear-gradient(135deg, #ff69b4, #87cefa); /* Gradient from Hot Pink to Light Sky Blue */
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
}

img {
  display: block;
  margin: 0px auto;
  max-width: 100%;
  height: auto;
  max-height: 300px; /* Adjust the max-height as needed */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p {
  font-size: 18px;
  color: #555555; /* Medium Gray */
}

.score-container {
  color: #e28391; /* Light Pink */
}

.image-container {
  position: relative;
  margin: 0 0;
}

.header-container {
  box-shadow: none; /* Remove shadow */
}

.feedback-icon {
  position: absolute;
  background: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15em;
  pointer-events: none;
}

.feedback-icon.correct {
  color: green; 
}

.feedback-icon.incorrect {
  color: red; 
}